[Unit]
Description=Dynamic Domain Name Server Updater
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User={username}
ExecStart=/home/{username}/.config/ddnsu/ddnsu.bin start

[Install]
WantedBy=multi-user.target